.carousel-item img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 102vh;
  width: 100%;
}
.heading-carousel {
  position: absolute;
  top: 40%;
}
.heading-carousel h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(49, 39, 39);
  font-family: "monospace", sans-serif;
  word-spacing: 2px;
  letter-spacing: 5px;
}
.heading-carousel h5 {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(217, 196, 196);
  font-family: monospace;
  letter-spacing: 3px;
  word-spacing: 1px;
}
