@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

